<head>
    
</head>
<body>
    <h1>Rails Url Shortener</h1>
    <%= form_for @short_url do |f| %>
        <%= f.label :original_url, 'Url to shorten:' %>
        <%= f.text_field :original_url %>
        <br>
        <%= f.label :short_url, '(Optional) Shortened URL:' %>
        <%= f.text_field :short_url %>
        <br>
        <%= f.submit %>
    <% end %>
</body>